@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica,  sans-serif;
}

@theme {
  --font-Inter: "Inter", sans-serif;
  --color-purple: #3c1c91;
  --color-green: #00e392;
  --color-yellow: #c9f305;
}
